*{
    box-sizing: border-box;
}
img {
    width: 100px;
    height: 100px;
}
body {
    background-color: #eef9bf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.escondido {
    display: none;
}
.título{
    font-family: 'Roboto', sans-serif;
    color: #75B79E;
    margin-top: 40px;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    margin-bottom: 71px;
}
.cartas{
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
}
.card {
    background-color: #A7E9AF;
    margin-left: 25px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 117px;
    height: 146px;
    transition: all .5s;
} 
.virada{
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}
@media (max-width: 600px) {
    .cartas {
        flex-direction: column;
        margin-bottom: 0;
    }
    .título {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 40px;
        width: 50%;
        text-align: center;
    }
    .card {
        margin-left: 0;
        margin-bottom: 34px;
    }

}